html,
body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei;
  overflow: hidden;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot"); /* IE9*/
  src: url("iconfontd41d.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("iconfont.woff") format("woff"),
    /* chrome、firefox */ url("iconfont.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.32rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.004rem;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
}

.one {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9;

}

.centerpoint {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #000;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.block {
  width: 100vw;
  height: calc(100vh - 0.4rem);
  overflow: scroll;
  position: relative;
}

/* .roadBox,
.languageBox,
.shopBox {
  position: fixed;
  cursor: pointer;
  z-index: 998;
  width: 0.4rem;
  height: 0.4rem;
  right: 0.1rem;
}

.road_box {
  top: 0.1rem;
} */
.map_title{
  position: fixed;
  cursor: pointer;
  display: none;/*flex;*/
  width: 0.5rem;
  
  right: 0.12rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FF9800;
  border-radius: 0.06rem;
  top: 0.55rem;
  z-index: 998;
}
.map_title h1{
   font-size: 0.3rem;
  text-align: center;
  color: white;
}
.roadBox,
.languageBox,
.shopBox {
  position: fixed;
  cursor: pointer;
  display: flex;
  width: 0.36rem;
  height: 0.36rem;
  right: 0.12rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.06rem;
  top: 0.55rem;
  z-index: 998;
}

.road_box,
.language_box,
.shop_box {
  width: 0.26rem;
  height: 0.26rem;
}
.road_text,
.language_text,
.shop_text {
  font-size: 0.12rem;
  margin-top: -0.06rem;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  text-align: center;
  -webkit-transform: scale(0.7);
}

.roadBox {
  top: 0.1rem;
}
.road_box {
  width: 0.23rem;
  height: 0.23rem;
}
.shopBox {
  top: 1rem;
}
.language_text {
  color: #7ec8dc;
}

.shop_text {
  color: black;
}

/*线路列表*/
.road_box_content,
.scenic_content {
  display: none;
  z-index: 999;
  list-style-type: none;
  position: fixed;
  top: 0.6rem;
  right: 0.02rem;
  font-size: 0.12rem;
  width: 1rem;
  padding: 0.03rem;
  text-align: center;
  color: aliceblue;
  border-radius: 0.06rem;
  box-sizing: border-box;
}

.sanjiao {
  display: inline-block;
  position: absolute;
  z-index: 999;
  right: 0.2rem;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #333; /* border-radius: 0.06rem; */
}

.road_box_content_li,
.scenic_content_li {
  cursor: pointer;
  box-shadow: 0rem 0 0.1rem #a9a9a9; /* height: 0.32rem; */
  font-size: 12px;
  line-height: 12px;
  border-radius: 0.1rem;
  padding: 0.1rem 0.1rem;
  margin-bottom: 0.1rem;
  background-color: #333;
}

.content_li_active {
  color: #47e7ff;
}


.one img {
  width: 12px;
  height: 14px;
}

.one > .tip {
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  box-shadow: none;
}

.one > .tip {
  z-index: 10;
  cursor: pointer; /*background: url("../data/tip.png") no-repeat ;*/
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}


.tip_top {
  width: 80px;
  height: 30px;
  position: absolute; /*background-color: red;*/
  opacity: 0.3;
  z-index: 98;
  cursor: pointer;
}

.dialog img {
  -webkit-animation: icon-bounce 0.8s linear infinite alternate;
  -moz-animation: icon-bounce 0.8s linear infinite alternate;
  -o-animation: icon-bounce 0.8s linear infinite alternate;
  animation: icon-bounce 0.8s linear infinite alternate;
}

@keyframes icon-bounce {
  0%,
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.one > .tipactive {
  background: url("../data/tipactive.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 0.25rem !important;
  height: 0.25rem !important;
  box-shadow: 0 0 0.01rem #fff, 0 0 0.05rem 0.03rem yellow;
}

.one > .tip_one {
  background: url("../data/tip00.html") no-repeat;
  background-size: cover;
  background-position: center;
}

.one > .tip_one_active {
  background: url("../data/tip0.html") no-repeat;
  background-size: cover;
  background-position: center;
}

/*下面导航*/
.sliderGo {
  position: fixed;
  display: none;
  /* left: 0.87rem; */
  left: 50%;
  margin-left: -1rem;
  background: #ffffff;
  border: 0.02rem solid rgba(237, 252, 255, 0.9);
  box-shadow: 0.02rem 0.02rem 0.03rem 0 rgba(237, 252, 255, 0.9);
  border-radius: 0.02rem;
  font-size: 0.12rem;
  width: 2rem;
  height: 0.5rem;
  bottom: 0.16rem;
  z-index: 999;
}
.sliderGo2 {
  position: fixed;
  display: none;
  left: 50%;
  margin-left: -1.3rem;
  background: #ffffff;
  border: 0.02rem solid rgba(237, 252, 255, 0.9);
  box-shadow: 0.02rem 0.02rem 0.03rem 0 rgba(237, 252, 255, 0.9);
  border-radius: 0.02rem;
  font-size: 0.12rem;
  width: 2.6rem;
  height: 0.6rem;
  bottom: 0.16rem;
  z-index: 999;
}

.close {
  position: absolute;
  top: -0.06rem;
  right: -0.03rem;
  height: 0.1rem;
  width: 0.1rem;
  border-radius: 0.1rem;
  /* background-color: rgba(0,0,0,0.2); */
  background-size: contain;
  background-image: url("./../data/close2.png");
  background-repeat: no-repeat;
  z-index: 999;
}
.con_playbutton {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 0.3rem;
  height: 0.3rem;
  background-image: url('../data/play.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.micro_on {
  background-image: url('../data/pause.png');
}
.micro_off {
  background-image: url('../data/play.png');
}

.listenBox img {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
}

.listenBox {
  /* display: inline-block; */
  padding: 0.05rem;
  background-color: #f2f2f2;
  position: absolute;
  top: -0.3rem;
  border-radius: 0.01rem;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  margin-left: 0.1rem;
  width: 0.7rem;
  height: 0.7rem;
}

.con_title {
  position: absolute;
  font-family: PingFangSC-Medium;
  font-size: 0.16rem;
  color: #364a63;
  text-align: center;
  width: 0.7rem;
  height: 0.3rem;
  line-height: 0.3rem;
  /* top: -0.16rem; */
  left: 0.96rem;
  /* margin-left: -0.8rem; */
  background-color: white;

  box-shadow: 0.04rem 0.04rem 0.06rem 0 rgba(237, 252, 255, 0.9);

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-right: 2px solid #fedd0f;
}

.con_title.con_title_fix {

  left: 60%;
  transform: translate(-50%);
  width: 1.2rem;
  top: 0.03rem;
  box-shadow: none;
}

/* .con_title.con_title_fix::after {
  display: block;
  content: '';
  position: relative;
  left: 100%;
  margin-left: -0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  background-image: url(../data/shou1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
} */
.con_talk {
  position: absolute;
  left: 0.8rem;
  /* margin-left: -1rem; */
  top: 0.1rem;
  width: 1rem;
  height: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .con_micro {
  height: 0.22rem;
  width: 0.22rem;
  background-image: url("../data/microphone.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.con_micro::after {
  display: block;
  content: attr(data-text);
  position: absolute;
  bottom: -0.1rem;

  font-size: 0.1rem;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  color: #364a63;
  text-align: center;
  width: 0.22rem;
} */

/* .con_micro.micro_off {
  background-image: url("../data/microphone.png");
}

.con_micro.micro_off::after {
  color: #364a63;
}

.con_micro.forbidden {
  opacity: 0.6;
}
.con_micro.forbidden::before {
  content: "";
  display: block;
  width: 0.22rem;
  height: 0.3rem;
  background-image: url("../data/forbidden.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0.09rem;
}

.con_micro.micro_on {
  background-image: url("../data/microphone_on.png");
}

.con_micro.micro_on::after {
  color: red;
} */

.line {
  margin-top: 0.2rem;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #364a63;
  width: 0;
  height: 0.22rem;
}

.con_go {
  cursor: pointer;
  height: 0.22rem;
  width: 0.22rem;
  background-image: url("../data/go.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.con_go::after {
  display: block;
  content: attr(data-text);
  position: absolute;
  bottom: -0.1rem;
  font-family: PingFangSC-Medium;
  font-size: 0.12rem;
  white-space: nowrap;
  color: #364a63;
  text-align: center;
  width: 0.22rem;
}
.con_go_fix {
 float: right;
 margin-right: 0.16rem;
 margin-top: 0.02rem;
}
.con_go.con_go_fix::after {
  position: relative;
  bottom: -0.2rem;
}

.con_go a {
  color: #0f0e0c;
}

 .finger {
   right: 0.9rem;
   bottom: 0.19rem;
   position: absolute;
   display: inline-block;
   width: 0.17rem;
   height: 0.174rem;
   background: url(../data/shou.gif) no-repeat;
   background-size: contain;
}

.goSum {
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  font-size: 0.16rem;
  color: #364a63;
  text-align: left;
}

/* #zhezhao {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 88;
} */

.btnText {
  display: inline-block;
  position: absolute;
  line-height: 0.5rem;
  left: 0.7rem;
}

.music {
  cursor: pointer;
  z-index: 99;
  width: 0.5rem;
  height: 0.5rem;
  position: fixed;
  top: 0.2rem;
  right: 0.2rem;
  background: url("../data/music1.html") no-repeat;
  background-size: cover;
}

.mapBox {
  padding-top: 0.02rem;
  display: none;
  width: 100vw;
  background-color: #f1f1f1;
  position: fixed;
  z-index: 999;
  bottom: 0;
  font-size: 0.2rem;
  line-height: 200%;
  color: #444444;
}

.map_box {
  margin: 0 auto;
  text-align: center;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.mapli,
.cancel {
  cursor: pointer;
  padding: 0.06rem 0.08rem;
  line-height: 200%;
}

.mapli {
  border-bottom: 1px solid #dadada;
}

.left_icon {
  position: fixed;
  left: -0.02rem;
  top: 0.5rem;
  z-index: 999;
  display: none;
}

.icon_line {
  cursor: pointer;
  display: block;
  width: 0.7rem;
  height: 0.7rem;
}

.icon_line1 {
  background: url("../data/line_icon_1.html") no-repeat;
  background-size: contain;
}

.icon_line2 {
  background: url("../data/line_icon_2.html") no-repeat;
  background-size: contain;
}

.icon_line_active1 {
  background: url("../data/line_icon_active_1.html") no-repeat;
  background-size: contain;
}

.icon_line_active2 {
  background: url("../data/line_icon_active_2.html") no-repeat;
  background-size: contain;
}

.text_box {
  padding-top: 0.7rem;
  z-index: 10;
  display: none;
  font-size: 0.24rem;
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
  position: fixed;
  background-color: #d7e7ef;
}

.up {
  display: none;
  width: 100%;
  height: 0.6rem;
  background: url(../data/up.html) no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 3.5rem;
  z-index: 97;
  background-position: 50% 50%;
}

.middle {
  margin: 0 auto;
  height: 100%;
  width: 30%;
}

.middle_line {
  display: block;
  width: 100%;
  height: 0.03rem;
  border-radius: 0.02rem;
  background-color: #0f0e0c;
}

.toView {
  background: url("../data/fanhui2.png") no-repeat;
  background-size: cover;
  width: 0.8rem;
  height: 0.8rem;
  position: fixed;
  left: 0.3rem;
  top: 0.3rem;
  z-index: 9999;
  cursor: pointer;
}

.arrow {
  position: absolute;
  bottom: 0rem;
  z-index: 10;
  width: 100%;
  text-align: center;
  color: red; /*-moz-transform: translate(-50%,0);*/
}

.arrow span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  opacity: 0.9;
}

.tipContent {
  font-size: 0.27rem;
  color: #333;
  font-weight: bold;
  height: 0.5rem;
  line-height: 0.5rem;
  opacity: 0.7;
}

.leftArrow {
  left: 0;
  background: url("../data/left1.png") no-repeat;
  background-size: cover; /*float:left;*/
  -webkit-animation: arrowLeft 2s infinite alternate;
  -moz-animation: arrowLeft 2s infinite alternate;
  -o-animation: arrowLeft 2s infinite alternate;
  animation: arrowLeft 2s infinite alternate;
}

.rightArrow {
  right: 0;
  background: url("../data/right1.png") no-repeat;
  background-size: cover;
  float: right;
  -webkit-animation: arrowRight 2s infinite alternate;
  -moz-animation: arrowRight 2s infinite alternate;
  -o-animation: arrowRight 2s infinite alternate;
  animation: arrowRight 2s infinite alternate;
}

@keyframes arrowRight {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(-1rem, 0);
    -ms-transform: translate(-1rem, 0);
    -webkit-transform: translate(-1rem, 0);
    transform: translate(-1rem, 0);
  }
}

@-webkit-keyframes arrowRight {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(-1rem, 0);
    -ms-transform: translate(-1rem, 0);
    -webkit-transform: translate(-1rem, 0);
    transform: translate(-1rem, 0);
  }
}

@-moz-keyframes arrowRight {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(-1rem, 0);
    -ms-transform: translate(-1rem, 0);
    -webkit-transform: translate(-1rem, 0);
    transform: translate(-1rem, 0);
  }
}

@-o-keyframes arrowRight {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(-1rem, 0);
    -ms-transform: translate(-1rem, 0);
    -webkit-transform: translate(-1rem, 0);
    transform: translate(-1rem, 0);
  }
}

@keyframes arrowLeft {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
}

@-webkit-keyframes arrowLeft {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
}

@-moz-keyframes arrowLeft {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
}

@-o-keyframes arrowLeft {
  0%,
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
}

/**
 * 底部菜单
 */
.gm-alignCenter {
  text-align: center;
}
.gm-displayFlex {
  z-index: 100;
  display: flex;
  align-items: center;
}
.gm-font24 {
  font-size: 0.12rem;
}
.gm-border1 {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
}

.gm-displayFlex {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: rgba(54, 74, 99, 0.9);
  color: white;
}

.gm-flex {
  flex: 1;
  position: relative;
  font-size: 0.12rem;
  border-right: 1px solid rgba(54, 74, 99, 1);
  border-top: 1px solid rgba(54, 74, 99, 1);
  height: 0.4rem;
  border-bottom: 0px none;
  background-color: transparent;
}

.bottom_menu_active {
  height: calc(0.4rem - 3px);
  border-bottom: 3px solid black;
  background-color: rgba(54, 74, 99, 1);
}

.gm-flex ul {
  position: absolute;
  bottom: 0.4rem;
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #f9f7f8;
  display: none;
}

.gm-flex ul li {
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.gm-flex ul a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 0.12rem;
  line-height: 0.3rem;
  vertical-align: middle;
}

.gm-flex ul img {
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.4rem;
  vertical-align: middle;
}
/*新增加的底部菜单样式*/
.menu_div_{
  position: absolute;
  bottom: 0.4rem;
  width:100%;
  max-height: 200px;
  overflow-y: scroll;

  border: 1px solid #ccc;
  border-bottom: 0;
  background: rgba(249,247,248,0.8);
  display: none;
}
.menu_div_ .close_menu{
  display: inline-block;
  position: relative;
  width:100%;
}
.menu_div_ .close_menu span{
  display: block;
  padding:2px;
  background-color: 	#00FF00;
  font-size:0.2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.menu_div_ ul li {
  border: 1px solid ;
  text-align: center;
}

.menu_div_ ul a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 0.12rem;
  line-height: 0.3rem;
  vertical-align: middle;
}

@font-face {
  font-family: "huawenhupo";
  src: url("../font/HuaWen/huawenhupo.ttf");
}

/**
 * 三个列表一样的东西
 */
.eveList {
  position: absolute;
}

.eveList h2 {
  font-size: 26px;
  letter-spacing: 10px;
  color: rgb(70, 160, 200);
  font-weight: normal;
  font-family: "huawenhupo", "微软雅黑";
}

.eveList.publicBrand h2,
.eveList.localSpecialtyIndustry h2 {
  font-size: 20px;
  padding-left: 20px;
  color: rgb(60, 130, 20);
}

.eveList ul li {
  font-size: 20px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "huawenhupo", "微软雅黑";
}

.eveList.publicBrand ul li,
.eveList.localSpecialtyIndustry ul li {
  font-size: 16px;
  display: block;
}

.eveList ul li a {
  display: inline-block;
  vertical-align: middle;
}
.eveList ul li img {
  vertical-align: middle;
  width: 90px;
  height: 90px;
}

/*线路文字描述*/
.txtBox {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0.18rem;
  font-size: 14px;
  z-index: 999;
  text-align: center;
}

.txtName {
  font-size: 13px;
  cursor: pointer;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0 auto;
  width: 5rem;
  background-color: #e8e6e6;
  border-radius: 0.05rem;
  color: #252525;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 0.1rem 0.1rem #9a9393;
}

.txtContent {
  font-size: 13px;
  background-color: #e8e6e6;
  padding: 0.1rem 0;
  box-shadow: 0 0.1rem 0.1rem #9a9393;
}

input[type="range"] {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 10;
}

/*  scale hacker */
.wrapper {
  position: absolute;
  background-color: transparent;
  border: 3px solid black;
}

.advertisment {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.advertisment .advertismodal {
  position: relative;
  width: 2.5rem;
  height: 2.6rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.advertisment .advertisclose {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 0.2rem;
  right: -0.06rem;
  top: -0.06rem;
  background-color: #fff;
  background-image: url("../data/close.png");
  background-size: contain;
}

.advertisment img {
  display: block;
  border-radius: 0.16rem;
  width: 100%;
  height: 100%;
}
